/* Landing Pages ____________________ */

.landing_page {
  margin-top: 2rem;
  h1 {
    margin-bottom: 1rem;
  }
  .logo_side {
    text-align: center;
  }
  .sellwood_logo {
  }
  .invisible_ambersand {
    height: 75px;
  }
  .client_logo {
    border-radius: 2px;
    margin: 1rem 0 2rem;

  }
  .footer {
    text-align: center;
  }
  .client_content ol li {
    list-style-type: decimal;
    margin-bottom: 1rem;
  }
  .return_home {
    margin-top: 2rem;
  }
  .footer p {
    margin-top: 2rem;
    opacity: .7;
  }

}

